.avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.avatar > img {
  width: 100px;
}

.avatar > span {
  font-size: 1.5rem;
  padding: 1rem;
}
