.navbar {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar__header > h3 {
  margin: 0;
}
.navbar__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar__ul {
  display: flex;
}
.navbar__li {
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.navbar__li > a {
  color: black;
  font-size: large;
  transition: all 0.2s ease-in;
}
.navbar__li > a:hover {
  color: var(--brand);
  text-decoration: underline;
}
.navbar__logo {
  font-size: 2rem;
  font-weight: 900;
  font-size: 3rem;
  cursor: pointer;
  text-decoration: underline var(--brandHover);
}
.navbar__media {
  color: var(--brand);
}
