/* HERO */
.hero {
  display: flex;
  align-items: center;
}
.heroInfo {
  flex-direction: column;
}
.hero__headshot {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  align-items: center;
}

.headshotImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.hero__p {
  font-size: larger;
}

@media screen and (max-width: 375px) {
  .hero {
    flex-direction: column;
    display: flex;
  }

  .hero > h2 {
    text-align: center;
  }
  .hero__headshot {
    margin: 0;
    order: 1;
  }
  .hero__p {
    order: 2;
    margin: 2rem 0;
  }
  .socialMedia {
    justify-content: center;
    order: 3;
  }
}
@media screen and (max-width: 414px) {
  .hero {
    flex-direction: column;
    display: flex;
  }
  .hero > h2 {
    text-align: center;
  }
  .hero__headshot {
    margin: 0;
    order: 1;
  }
  .hero__p {
    order: 2;
    margin: 2rem 0;
  }
  .socialMedia {
    order: 3;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
  }
  .hero > h2 {
    text-align: center;
  }
  .heroInfo {
    order: 1;
  }
  .hero__headshot {
    margin: 0;
    order: 2;
  }
  .hero__p {
    order: 2;
    margin: 2rem 0;
  }
  .socialMedia {
    justify-content: center;
    order: 3;
  }
}
