/* HERO */
.hero {
  display: flex;
  align-items: center;
}

.hero__headshot {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  align-items: center;
}

.headshotImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.hero__p {
  font-size: larger;
}
